{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <legend> {{ msg }} </legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.sid }} {{ form.did }}</TD>
      </TR>
      <TR>
        <TD> {{ form.display_name.label }}: </TD> <TD> {{ form.display_name(style="width:64ch") }} </TD>
      </TR><TR>
        <TD> {{ form.description.label }}: </TD> <TD> {{ form.description(style="width:64ch") }} </TD>
      </TR><TR>
        <TD> {{ form.units.label }}: </TD> <TD> {{ form.units }} </TD>
      </TR><TR>
        <TD> {{ form.decimals.label }}: </TD> <TD> {{ form.decimals }} </TD>
      </TR><TR>
        <TD> {{ form.display_level.label }}: </TD> <TD> {{ form.display_level }} </TD>
      </TR><TR>
        <TD> {{ form.display_position.label }}: </TD> <TD> {{ form.display_position }} </TD> 
      </TR><TR>
        <TD> {{ form.constraint_is_active.label }}: </TD> <TD> {{ form.constraint_is_active }} </TD>
      </TR>
      </TABLE>
      <br>
      <div>
        <TABLE  class="divgrey">
        <TH>Constraint</TH>
        {% if form.equals|length > 0 %}
          {% for entry in form.equals %}
             <TR> <TD>{{ entry.lim_name }} {{ entry.lim_val.label }}</TD> <TD>{{ entry.lim_val }} </TD> </TR>
          {% endfor %}
        {% endif %}
        {% if form.minlowhighmaxs|length > 0 %}
          {% for entry in form.minlowhighmaxs %}
             <TR> <TD>{{ entry.lim_name }} {{ entry.min_val.label }} </TD> <TD> {{ entry.min_val }} </TD>
              <TD>{{ entry.low_val.label }} </TD> <TD> {{ entry.low_val }} </TD> 
              <TD>{{ entry.high_val.label }} </TD> <TD> {{ entry.high_val }} </TD>
              <TD>{{ entry.max_val.label }} </TD> <TD> {{ entry.max_val }} </TD>  </TR>
          {% endfor %}
        {% endif %}
        {% if form.periods|length > 0 %}
        {% for entry in form.periods %}
           <TR> <TD>{{ entry.lim_name }} {{ entry.lim_val.label }} </TD> <TD> {{ entry.lim_val }} </TD> </TR>
        {% endfor %}
        {% endif %}
        </TABLE>
        <p>
        <TABLE class="divgrey">
        <TH colspan=5>Relative constraint: if provided, min/low/high/max constraint above will be removed</TH>
        {% if form.refminlowhighmaxs|length > 0 %}
          {% for entry in form.refminlowhighmaxs %}
             <TR> 
              <TD>{{ entry.lim_name }} {{ entry.ref_val.label }} </TD> <TD> {{ entry.ref_val }} </TD>
              <TD>{{ entry.min_val.label }} </TD> <TD> {{ entry.min_val }} </TD>
              <TD>{{ entry.low_val.label }} </TD> <TD> {{ entry.low_val }} </TD> 
              <TD>{{ entry.high_val.label }} </TD> <TD> {{ entry.high_val }} </TD>
              <TD>{{ entry.max_val.label }} </TD> <TD> {{ entry.max_val }} </TD>
            </TR>
          {% endfor %}
        {% endif %}
        </TABLE>
      </div>
      <br>
      <div>
        <button type="submit" name="submit">Submit</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
