{% extends "layout.html" %}
{% block content %}
<h2> {{ title }} </h2>
{% for menu in menus %}
    <h4>{{ menu['title'] }}</h4>
    {% for item in menu['items'] %}
        <ul class="collapsibleList">
        <li>
        <a href="{{ item['href'] }}">
            {{ item['label'] }} </a> <br>
        {% if item['subitems'] | count >0 %}
        <ul>
        {% for sub in item['subitems'] %}
            <li><a href="{{ sub['href'] }}">
                {{ sub['label'] }} </a> 
            </li>
        {% endfor %}
        </ul>    
        {% endif %}
        </li></ul>
    {% endfor %}
    <br><br>
{% endfor %}
{% endblock %}
