/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
  color: #eee;

}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.navbar-inverse .navbar-brand {
  color: #ff0;
}

.footer > .container-fluid {
  padding-right: 15px;
  padding-left: 15px;
}
