{% extends "layout.html" %}
{% block content %}
<h2> {{ title }} </h2>
{% for menu in menus %}
    <h4>{{ menu['title'] }}</h4>
    <p>
    {% for item in menu['items'] %}
        <a href="{{ item['href'] }}">
            {{ item['label'] }}
        </a>
    </p>
    {% endfor %}
    <br>
{% endfor %}
{% endblock %}
