{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <legend> {{ msg }} </legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}

    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form" enctype="multipart/form-data">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.sourcename.label }}:</TD>
        <TD>{{ form.sourcename }}</TD>
      </TR><TR>
        <TD>{{ form.modality.label }}:</TD>
        <TD>{{ form.modality }}</TD>
      </TR><TR>
        <TD>{{ form.seriesdesc.label }}:</TD>
        <TD>{{ form.seriesdesc }}</TD>
      </TR><TR>
        <TD>{{ form.protocol.label}}</TD>
        <TD>{{ form.protocol  }}</TD>
      </TR><TR>
        <TD>{{ form.station.label}}</TD>
        <TD>{{ form.station  }}</TD>
        <TD>{{ form.aet.label}}</TD>
        <TD>{{ form.aet  }}</TD>
      </TR><TR>
        <TD>{{ form.seriesdate_min.label}}</TD>
        <TD>{{ form.seriesdate_min  }}</TD>
        <TD>{{ form.seriesdate_max.label}}</TD>
        <TD>{{ form.seriesdate_max  }}</TD>
      </TR>
      <TR>
        <TD>{{ form.todo.label }}:</TD>
        <TD>{{ form.todo }}</TD>
        <TD>{{ form.confirm.label }}:</TD>
        <TD>{{ form.confirm }}</TD>
      </TR>
      </TABLE>
      <div>
      <button type="submit" name="submit">Submit</button>
      </div>
      {% if html %}
      <div> {{ html}} </div>
      {% endif %}

    </form>  
  </div>
</div>
{% endblock %}
