{% extends "layout.html" %}
{% block content %}
{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
<div>
{% elif field.flags.error %}
<div>
{% else %}
<div>
{% endif %}
    {% set css_class = 'form-control ' + kwargs.pop('class', '') %}
    {{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div>
  <div>
    <h2> {{ title }} </h2>
    <legend> {{ msg }} </legend>
    {% with errors = get_flashed_messages(category_filter=["error"]) %}
    {% if errors %}
    <div class="alert alert-danger" role="alert">
    {% for error in errors %}
    {{ error }}<br>
    {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    {% if form.errors %}
    <div class="alert alert-danger" role="alert">
    {% for field, error in form.errors.items() %}
    {% for e in error %}
    {{ e }}<br>
    {% endfor %}
    {% endfor %}
    </div>
    {% endif %}
    <form method="POST" action="{{action}}" accept-charset="UTF-8" role="form">
      {{ form.csrf_token }}
      <TABLE>
      <TR>
        <TD>{{ form.name.label }}:</TD>
        <TD>{{ form.name }}</TD>
        <TD>{{ form.source_type.label }}:</TD>
        <TD>{{ form.source_type }}</TD>
      </TR><TR>
        <TD>{{ form.protocol.label }}:</TD>
        <TD>{{ form.protocol }}</TD>
        <TD>{{ form.host.label }}:</TD>
        <TD>{{ form.host }}</TD>
        <TD>{{ form.port.label }}:</TD>
        <TD>{{ form.port }}</TD>
      </TR><TR>
        <TD>{{ form.aetitle.label }}:</TD>
        <TD>{{ form.aetitle }}</TD>
        <TD>{{ form.user.label }}:</TD>
        <TD>{{ form.user }}</TD>
        <TD>{{ form.pswd.label }}:</TD>
        <TD>{{ form.pswd }}</TD>
        <TD>{{ form.confirm.label }}:</TD>
        <TD>{{ form.confirm }}</TD>
      </TR><TR>
        <TD>{{ form.gid }}</TD>
        <TD>{{ form.currentname }}</TD>
      </TR>
      </TABLE>
      <div>
      <button type="submit" name="submit">Submit</button>
      </div>
    </form>  
  </div>
</div>
{% endblock %}
