{% from "macros.html" import nav_link with context %}
{% from "macros.html" import toggle_login_link with context %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAD-QC Admin</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='sticky-footer-navbar.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='tablesorter/theme.wadred.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='wad2.css') }}" rel="stylesheet" media="screen">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <!-- Placed at the end of the document will make pages load faster, but also redraw table on slow machines -->
  <script src="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesorter/jquery.tablesorter.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesorter/jquery.tablesorter.widgets.js') }}"></script>
  {% block refreshpage %}{% endblock %}
  <script>
  $(document).ready(function(){
    $("#sortTable").tablesorter({widgets:['zebra', 'filter']});
    $("#sortTableNoFilter").tablesorter({widgets:['zebra']});
    {% if add_refresh is defined %}
    checkReloading();
    {% endif %}
  });
  </script>
  </head>
  <body>
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ url_for('wadconfig.home') }}">WAD-QC</a>
      </div>
  
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          {{ nav_link('wadconfig_selectors.default', 'Selectors') }}
          {{ nav_link('wadconfig_processes.default', 'Processes') }}
          {{ nav_link('wadconfig_results.default', 'Results') }}
          {{ nav_link('wadconfig_dbtool.default', 'DBTool') }}
        </ul>
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{ toggle_login_link('auth.signin', 'Log in', 'auth.logout', 'Log out') }}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>    
    <div class="container">
      <br>
      {% block content %}{% endblock %}
      <br>
    </div>
    {% block footer %} <!-- this is default footer -->
    <footer class="footer">
      <div class="container-fluid">
        <div id="poweredBy" class="pull-right">
          <img src="{{ url_for('static', filename='nvkf-logo-60-white.gif') }}" alt="NVKF" height="60" width="60"> <a href="https://www.nvkf.nl">NVKF</a>
        </div>
        <div class="pull-left">
          <br>
          Copyright © 2016
        </div>
      </div>
    </footer>
    {% endblock %}
  </body>
</html>
