{% macro nav_link(endpoint, name) %}
{% if request.endpoint.endswith(endpoint) %}
    <li class="active"><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% else %}
    <li><a href="{{ url_for(endpoint) }}">{{name}}</a></li>
{% endif %}
{% endmacro %}

{% macro toggle_login_link(endpoint_login, label_login, endpoint_logout, label_logout) %}
{% if session.get('logged_in') %}
    <li><a href="{{ url_for(endpoint_logout) }}">{{label_logout}}</a></li>
{% else %}
    <li><a href="{{ url_for(endpoint_login) }}">{{label_login}}</a></li>
{% endif %}
{% endmacro %}
